page-profile {
          .a{
            margin-top: 8px;
            margin-bottom: 8px;
            
          }
          div.text{
            font-size: 16px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding-left: 10px;
          }
    }
    