page-weeklyreport {
    .a{
        color:#68A841;
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
    }
    .a1{
        color:orangered;
        font-family: 'Times New Roman', Times, serif;
        font-size: 14px;
    }
    .text{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:16px;
        color:orangered;
    }
}
