page-personaldetail {
    .a{
    
        margin-right: 25px;
        margin-left: 160px;
        margin-top: 12px;
        margin-bottom: 24px;
 
    }
    ion-card {
        position: relative;
        text-align: center;
      }

}
